body {
  font-family: 'Roboto', Arial, sans-serif;
  background: linear-gradient(135deg, #6fb1fc, #4364f7);
  color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 1200px;
}
